.flower {
    min-width: 300px;
    max-width: 50%;
    
   
}

#firstText {
    color: rgb(61,536,139);
}

h1 {
    text-transform: capitalize;
}

div {
    border: 5px red solid;
    width: 1200px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}